<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-sun-1.6.0.22"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.ui.antsupport.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="contextRoot" value="fj31-loja-ear"/>
<mapEntry key="jndiPort" value="1099"/>
<mapEntry key="module.archive.name" value="fj31-loja-ear.ear"/>
<mapEntry key="module.dir" value="/home/caelum/workspace-fj31/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/fj31-loja-ear"/>
<mapEntry key="module.name" value="fj31-loja-ear"/>
<mapEntry key="port" value="8080"/>
<mapEntry key="project.location" value="/home/caelum/workspace-fj31/fj31-loja-ear"/>
<mapEntry key="project.name" value="fj31-loja-ear"/>
<mapEntry key="project.working.dir" value="/home/caelum/workspace-fj31/.metadata/.plugins/org.eclipse.wst.server.core/tmp0"/>
<mapEntry key="server.publish.dir" value="/home/caelum/Desktop/jboss-6.0.0.20101110-CR1/server/default/deploy"/>
<mapEntry key="serverAddress" value="127.0.0.1"/>
<mapEntry key="serverConfig" value="default"/>
<mapEntry key="serverRootDirectory" value="/home/caelum/Desktop/jboss-6.0.0.20101110-CR1"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="deploy.j2ee.ear"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/caelum/eclipse/plugins/org.eclipse.jst.server.generic.jboss_1.6.1.v200904151730/buildfiles/jboss323.xml"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
